<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Onboarding Application</a>
  <div>
    <ul class="nav nav-masthead">
      <ng-container *ngIf="accessToken">
        <li class="nav-item">
          <a class="nav-link" href="employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="applications">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!accessToken">
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
