<div class="container mb-5">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3">Generate New Token</h1>
    <p>Generate a new registration token for the email address</p>
  </div>
  <form class="form-signin">
    <div class="form-label-group">
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
    </div>
    <button
      id="btn-generate-token"
      class="btn btn-primary btn-block"
      type="button"
      (click)="generateNewToken()"
    >
      GenerateToken
    </button>
    <p id="generate-token-result">{{ tokenRequestOutput }}</p>
  </form>
</div>
